>#### Imports and Calling in Data:

In [1]:
#imports for calling in data
import wrangle
import viz

df=wrangle.get_zillow_data()

#needed imports for general notebook needs
import pandas as pd
pd.options.display.max_rows = 100
import matplotlib.pyplot as plt
import seaborn as sns

# Acquisition Phase:

>### Summary of the Raw Acquired Data:

In [2]:
#using a summary df built in wrangle.py
wrangle.df_summary(df)

---Shape: (52319, 68)

---Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      float64
 15  finishedsquarefeet15          0 non-null      float64
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  logerror                      52319 non-null  float64
 60  transactiondate               52319 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      float64
 64  heatingorsystemdesc           33849 non-null  object
 65  propertylandusedesc           52319 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(2), object(10)
memory usage: 27.1+ MB

--- Column Description
                  id      parcelid  airconditioningtypeid  \
count   5.231900e+04  5.231900e+04           13615.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.496888e+06  1.299682e+07               2.439589
std     8.594310e+05  3.350951e+06               3.847925
min     3.490000e+02  1.071186e+07               1.000000
25%     7.575810e+05  1.151017e+07               1.000000
50%     1.500095e+06  1.257825e+07               1.000000
75%     2.241248e+06  1.413036e+07               1.000000
max     2.982270e+06  1.676878e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                   70.00000     47.000000  52319.000000  52319.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                     7.10000    678.978723      2.300015      3.300770
std                      2.66567    711.825226      1.022816      0.947563
min                      2.00000     38.000000      0.000000      0.000000
25%                      7.00000    263.500000      2.000000      3.000000
50%                      7.00000    512.000000      2.000000      3.000000
75%                      7.00000    809.500000      3.000000      4.000000
max                     21.00000   3560.000000     18.000000     14.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count                   0.0           33654.000000       52184.000000  ...
unique                  NaN                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean                    NaN               6.264961           2.305276  ...
std                     NaN               1.716328           1.018076  ...
min                     NaN               1.000000           1.000000  ...
25%                     NaN               5.000000           2.000000  ...
50%                     NaN               6.000000           2.000000  ...
75%                     NaN               8.000000           3.000000  ...
max                     NaN              12.000000          18.000000  ...

        censustractandblock      logerror  transactiondate  \
count          5.219800e+04  52319.000000            52319
unique                  NaN           NaN              257
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN              809
mean           6.050245e+13      0.018136              NaN
std            1.861145e+12      0.176904              NaN
min            6.037101e+13     -4.655420              NaN
25%            6.037401e+13     -0.024702              NaN
50%            6.037620e+13      0.006935              NaN
75%            6.059042e+13      0.040599              NaN
max            4.830301e+14      5.262999              NaN

        airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
count                 13615                      70                0.0
unique                    4                       5                NaN
top                 Central            Contemporary                NaN
freq                  11873                      62                NaN
mean                    NaN                     NaN                NaN
std                     NaN                     NaN                NaN
min                     NaN                     NaN                NaN
25%                     NaN                     NaN                NaN
50%                     NaN                     NaN                NaN
75%                     NaN                     NaN                NaN
max                     NaN                     NaN                NaN

        heatingorsystemdesc        propertylandusedesc  storydesc  \
count                 33849                      52319         47
unique                    9                          1          1
top                 Central  Single Family Residential   Basement
freq                  20689                      52319         47
mean                    NaN                        NaN        NaN
std                     NaN                        NaN        NaN
min                     NaN                        NaN        NaN
25%                     NaN                        NaN        NaN
50%                     NaN                        NaN        NaN
75%                     NaN                        NaN        NaN
max                     NaN                        NaN        NaN

        typeconstructiondesc
count                     76
unique                     2
top                    Frame
freq                      75
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN

[11 rows x 68 columns]

# Preparation Phase:

>### Handling the nulls and Missing Values & dtypes

Notes:
    <br>- I first handled my missing values by determining the count and percentage missing from each feature, and found that with rows & columns, taking out the data that had 60% columns and 60% of rows data missing did not affect my data count by much AND left me with some good features that I think will help conduct the clustering model. 
    <br>- I then changed the dtypes all to int for later scaline/modeling.

In [3]:
#bringing in my function that 1) Handled missing values by %, 2)dropped unneeded feature columns, 3) dropna the smaller 
#amount of nulls that were missing by row
df = wrangle.data_prep(df, cols_to_remove=['propertylandusetypeid','transactiondate','propertycountylandusecode','propertylandusedesc','propertyzoningdesc','buildingqualitytypeid','heatingorsystemtypeid','unitcnt','heatingorsystemdesc','calculatedbathnbr','id','finishedsquarefeet12','fullbathcnt','structuretaxvaluedollarcnt','landtaxvaluedollarcnt','taxamount','regionidcity','censustractandblock'], prop_required_column=.6, prop_required_row=.6)

In [4]:
#just to show what columns were left and that nulls are now cleaned
df.isnull().sum()

parcelid                        0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
rawcensustractandblock          0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
yearbuilt                       0
taxvaluedollarcnt               0
assessmentyear                  0
logerror                        0
dtype: int64

>### Split the Data:

In [5]:
#using a 80/20 split on Train/Test, and then 70/30 for train,validate...stratifying on fips for even mix of data between
#using the fips codes for the three counties
train, validate, test = wrangle.split_data(df)
train.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcounty,regionidzip,roomcnt,yearbuilt,taxvaluedollarcnt,assessmentyear,logerror
34222,11533536,1.0,2.0,864.0,6037.0,33986536.0,-118424309.0,5002.0,6.037275e+07,3101.0,96047.0,0.0,1950.0,787004.0,2016.0,0.063660
21551,11058331,2.0,3.0,1243.0,6037.0,34270033.0,-118492886.0,7795.0,6.037111e+07,3101.0,96370.0,0.0,1953.0,174930.0,2016.0,0.059323
39107,14003091,2.0,4.0,1157.0,6059.0,33794310.0,-117985512.0,7350.0,6.059088e+07,1286.0,97023.0,7.0,1954.0,274539.0,2016.0,0.184348
9029,14208016,2.0,3.0,1491.0,6059.0,33861905.0,-117769542.0,6000.0,6.059022e+07,1286.0,97027.0,6.0,1975.0,523394.0,2016.0,-0.004648
2982,10844442,2.0,4.0,1843.0,6037.0,34173761.0,-118454651.0,7202.0,6.037128e+07,3101.0,96420.0,0.0,1949.0,113758.0,2016.0,0.025679

>### Encoding Columns:
I want to encode the 'fips' column, and added the columns 'is_Los_Angeles'/'is_Ventura'/'is_Orange' so I can use a quick 0/1 to use in predictions.

In [6]:
#encoded column for counties
train = wrangle.one_hot_encode(train)
#turned columns into int
train = wrangle.dtype_county(train)

TypeError: one_hot_encode() missing 2 required positional arguments: 'validate' and 'test'

>### Data Distributions:
- Looking at each feature and it's distribution

In [ ]:
#create all the histograms:
for col in train.columns:
    plt.figure(figsize=(4,2))
    plt.hist(train[col])
    plt.title(col)
    plt.show()

##### TAKEAWAYS:
- I'll add in some outlier ranges to help these distributions look at bit more 'normal'
- Some columns won't need to be changed (ie. latitude/longitude/zipcode/census/etc)
- Depending on the shape after outliers, for the right-tailed features I'll use a Spearman's test (since shape of data is not normally distributed)

>### Outliers: Creating the ranges of data to train on

In [ ]:
train = wrangle.handle_outliers(train)

I'll be using the ranges I set in my Regression project to handle outliers:

- Finished Squarefoot Range: 200sqft - 9_000sqft
- Bedroom Count range: 1-6bd
- Bathroom Count range:1-6bd
- Property Tax Value range: 45k - 2.5million

And adding new ranges of:

- Year built: 1950 - 2016
- Lot Sqft: 2,500 - 435,600 (10acres)...based on CA requirements for minimum and capturing more of Zillow's max clients

### Conclusion: The above ranges gave me a data count of 20,875 rows X 19 columns.
>### <mark>Taking out 28% of training data</mark>

In [ ]:
#Looking once more at the distribution, now that the outliers have been sorted out
for col in train.columns:
    plt.figure(figsize=(4,2))
    plt.hist(train[col])
    plt.title(col)
    plt.show()

____________________________________________________________________________________________________

# Question One: Does logerror differ across each county?

In [ ]:
#I created a scatterplot to give a visualization of logerrors based on location/county/region
sns.scatterplot(data=train, x='longitude', y='latitude', hue='logerror')

### Take away: The region plot shows that the mean of logerrors is happening all across each of our 3 counties...so I would at least say there isn't 'one' county that is ONLY experiencing these log errors...