In [1]:
import wrangle

import pandas as pd
pd.options.display.max_rows = 100

import matplotlib.pyplot as plt
import seaborn as sns

>## Acquiring data through wrangle.py

In [2]:
df=wrangle.get_zillow_data()

>## Defining the dataset

In [3]:
#seeing what dataset looks like
wrangle.df_summary(df)

---Shape: (52319, 68)

---Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      float64
 15  finishedsquarefeet15          0 non-null      float64
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  logerror                      52319 non-null  float64
 60  transactiondate               52319 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      float64
 64  heatingorsystemdesc           33849 non-null  object
 65  propertylandusedesc           52319 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(2), object(10)
memory usage: 27.1+ MB

--- Column Description
                  id      parcelid  airconditioningtypeid  \
count   5.231900e+04  5.231900e+04           13615.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.496888e+06  1.299682e+07               2.439589
std     8.594310e+05  3.350951e+06               3.847925
min     3.490000e+02  1.071186e+07               1.000000
25%     7.575810e+05  1.151017e+07               1.000000
50%     1.500095e+06  1.257825e+07               1.000000
75%     2.241248e+06  1.413036e+07               1.000000
max     2.982270e+06  1.676878e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                   70.00000     47.000000  52319.000000  52319.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                     7.10000    678.978723      2.300015      3.300770
std                      2.66567    711.825226      1.022816      0.947563
min                      2.00000     38.000000      0.000000      0.000000
25%                      7.00000    263.500000      2.000000      3.000000
50%                      7.00000    512.000000      2.000000      3.000000
75%                      7.00000    809.500000      3.000000      4.000000
max                     21.00000   3560.000000     18.000000     14.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count                   0.0           33654.000000       52184.000000  ...
unique                  NaN                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean                    NaN               6.264961           2.305276  ...
std                     NaN               1.716328           1.018076  ...
min                     NaN               1.000000           1.000000  ...
25%                     NaN               5.000000           2.000000  ...
50%                     NaN               6.000000           2.000000  ...
75%                     NaN               8.000000           3.000000  ...
max                     NaN              12.000000          18.000000  ...

        censustractandblock      logerror  transactiondate  \
count          5.219800e+04  52319.000000            52319
unique                  NaN           NaN              257
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN              809
mean           6.050245e+13      0.018136              NaN
std            1.861145e+12      0.176904              NaN
min            6.037101e+13     -4.655420              NaN
25%            6.037401e+13     -0.024702              NaN
50%            6.037620e+13      0.006935              NaN
75%            6.059042e+13      0.040599              NaN
max            4.830301e+14      5.262999              NaN

        airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
count                 13615                      70                0.0
unique                    4                       5                NaN
top                 Central            Contemporary                NaN
freq                  11873                      62                NaN
mean                    NaN                     NaN                NaN
std                     NaN                     NaN                NaN
min                     NaN                     NaN                NaN
25%                     NaN                     NaN                NaN
50%                     NaN                     NaN                NaN
75%                     NaN                     NaN                NaN
max                     NaN                     NaN                NaN

        heatingorsystemdesc        propertylandusedesc  storydesc  \
count                 33849                      52319         47
unique                    9                          1          1
top                 Central  Single Family Residential   Basement
freq                  20689                      52319         47
mean                    NaN                        NaN        NaN
std                     NaN                        NaN        NaN
min                     NaN                        NaN        NaN
25%                     NaN                        NaN        NaN
50%                     NaN                        NaN        NaN
75%                     NaN                        NaN        NaN
max                     NaN                        NaN        NaN

        typeconstructiondesc
count                     76
unique                     2
top                    Frame
freq                      75
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN

[11 rows x 68 columns]

## Handling nulls and missing values:

In [4]:
#setting up missing values function, to catch only the %%% of data that
#is already there, and not missing.

#checking nulls by columns of the percent of nulls found:

wrangle.nulls_by_columns(df).sort_values(by='percent', ascending=False)

                              count   percent
buildingclassdesc             52319  1.000000
buildingclasstypeid           52319  1.000000
finishedsquarefeet15          52319  1.000000
finishedsquarefeet13          52319  1.000000
storytypeid                   52272  0.999102
basementsqft                  52272  0.999102
storydesc                     52272  0.999102
yardbuildingsqft26            52256  0.998796
architecturalstyletypeid      52249  0.998662
architecturalstyledesc        52249  0.998662
typeconstructiondesc          52243  0.998547
typeconstructiontypeid        52243  0.998547
fireplaceflag                 52238  0.998452
finishedsquarefeet6           52154  0.996846
decktypeid                    51930  0.992565
pooltypeid10                  51876  0.991533
poolsizesum                   51454  0.983467
pooltypeid2                   51248  0.979529
hashottuborspa                50805  0.971062
yardbuildingsqft17            50384  0.963015
taxdelinquencyyear            50251  0.960473
taxdelinquencyflag            50251  0.960473
finishedsquarefeet50          47948  0.916455
finishedfloor1squarefeet      47948  0.916455
threequarterbathnbr           45602  0.871615
fireplacecnt                  45086  0.861752
pooltypeid7                   42329  0.809056
poolcnt                       41242  0.788280
airconditioningdesc           38704  0.739769
airconditioningtypeid         38704  0.739769
numberofstories               37787  0.722242
garagecarcnt                  34335  0.656263
garagetotalsqft               34335  0.656263
regionidneighborhood          33338  0.637206
buildingqualitytypeid         18665  0.356754
unitcnt                       18558  0.354709
propertyzoningdesc            18558  0.354709
heatingorsystemtypeid         18470  0.353027
heatingorsystemdesc           18470  0.353027
regionidcity                   1036  0.019802
lotsizesquarefeet               366  0.006996
finishedsquarefeet12            246  0.004702
fullbathcnt                     135  0.002580
calculatedbathnbr               135  0.002580
censustractandblock             121  0.002313
yearbuilt                       114  0.002179
structuretaxvaluedollarcnt       82  0.001567
calculatedfinishedsquarefeet     81  0.001548
regionidzip                      26  0.000497
taxamount                         4  0.000076
taxvaluedollarcnt                 1  0.000019
landtaxvaluedollarcnt             1  0.000019
logerror                          0  0.000000
transactiondate                   0  0.000000
propertylandusedesc               0  0.000000
id                                0  0.000000
assessmentyear                    0  0.000000
roomcnt                           0  0.000000
regionidcounty                    0  0.000000
rawcensustractandblock            0  0.000000
parcelid                          0  0.000000
propertycountylandusecode         0  0.000000
longitude                         0  0.000000
latitude                          0  0.000000
fips                              0  0.000000
bedroomcnt                        0  0.000000
bathroomcnt                       0  0.000000
propertylandusetypeid             0  0.000000

In [5]:
#now let's look at nulls by rows:
wrangle.nulls_by_rows(df)

n_missing  percent_missing
23         0.338235               2
24         0.352941              12
25         0.367647              11
26         0.382353              30
27         0.397059             177
28         0.411765             390
29         0.426471            2527
30         0.441176            2199
31         0.455882            5989
32         0.470588            8885
33         0.485294           11967
34         0.500000           11157
35         0.514706            3469
36         0.529412            4138
37         0.544118            1020
38         0.558824             223
39         0.573529              29
40         0.588235              15
41         0.602941               6
42         0.617647               7
43         0.632353              10
44         0.647059              46
45         0.661765               6
46         0.676471               1
47         0.691176               1
48         0.705882               2
dtype: int64

In [6]:
#using 50/50 first to see what dataset looks like:
print('Before dropping nulls, %d rows, %d cols' % df.shape)

#dropping the cols & rows that do not meet the 50/75 standard
df = wrangle.handle_missing_values(df, prop_required_column=.5, prop_required_row=.75)
print('After dropping nulls, %d rows, %d cols' % df.shape)

Before dropping nulls, 52319 rows, 68 cols
After dropping nulls, 52241 rows, 34 cols

In [7]:
df.isnull().sum()

id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18588
calculatedbathnbr                  61
calculatedfinishedsquarefeet        8
finishedsquarefeet12              172
fips                                0
fullbathcnt                        61
heatingorsystemtypeid           18392
latitude                            0
longitude                           0
lotsizesquarefeet                 357
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              18497
rawcensustractandblock              0
regionidcity                     1025
regionidcounty                      0
regionidzip                        19
roomcnt                             0
unitcnt                         18480
yearbuilt                          41
structuretaxvaluedollarcnt         72
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
censustractandblock               108
logerror                            0
transactiondate                     0
heatingorsystemdesc             18392
propertylandusedesc                 0
dtype: int64

#### For my next null steps:
    - I'll drop all the larger null columns.
    - I'll drop all columns that reiterate information too.
    - I'll average the smaller null columns with fillna

In [8]:
#creating a function to remove unwanted columns (*may add/change later)

cols_to_remove = ['propertyzoningdesc','buildingqualitytypeid','heatingorsystemtypeid','unitcnt','heatingorsystemdesc','calculatedbathnbr','id','finishedsquarefeet12','fullbathcnt','structuretaxvaluedollarcnt','landtaxvaluedollarcnt','taxamount','regionidcity']
def remove_columns(df, cols_to_remove): 
    df = df.drop(columns=cols_to_remove)
    return df

df= remove_columns(df, cols_to_remove )
df.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertylandusetypeid,...,regionidcounty,regionidzip,roomcnt,yearbuilt,taxvaluedollarcnt,assessmentyear,censustractandblock,logerror,transactiondate,propertylandusedesc
0,14297519,3.5,4.0,3100.0,6059.0,33634931.0,-117869207.0,4506.0,122,261.0,...,1286.0,96978.0,0.0,1998.0,1023282.0,2016.0,6.059063e+13,0.025595,2017-01-01,Single Family Residential
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,261.0,...,2061.0,97099.0,5.0,1967.0,464000.0,2016.0,6.111001e+13,0.055619,2017-01-01,Single Family Residential
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,261.0,...,1286.0,97078.0,6.0,1962.0,564778.0,2016.0,6.059022e+13,0.005383,2017-01-01,Single Family Residential
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,261.0,...,3101.0,96330.0,0.0,1970.0,145143.0,2016.0,6.037300e+13,-0.103410,2017-01-01,Single Family Residential
4,12095076,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,0101,261.0,...,3101.0,96293.0,0.0,1950.0,773303.0,2016.0,6.037461e+13,-0.001011,2017-01-01,Single Family Residential

In [9]:
df.isnull().sum()

parcelid                          0
bathroomcnt                       0
bedroomcnt                        0
calculatedfinishedsquarefeet      8
fips                              0
latitude                          0
longitude                         0
lotsizesquarefeet               357
propertycountylandusecode         0
propertylandusetypeid             0
rawcensustractandblock            0
regionidcounty                    0
regionidzip                      19
roomcnt                           0
yearbuilt                        41
taxvaluedollarcnt                 1
assessmentyear                    0
censustractandblock             108
logerror                          0
transactiondate                   0
propertylandusedesc               0
dtype: int64

In [20]:
df.lotsizesquarefeet.mean()

11249.861016883819

In [22]:
#looking at value_counts() for each leftover nulls
df.lotsizesquarefeet.value_counts()

6000.0      873
5000.0      413
7200.0      306
7000.0      285
6500.0      271
           ...
20038.0       1
24886.0       1
2527.0        1
126718.0      1
47405.0       1
Name: lotsizesquarefeet, Length: 14253, dtype: int64

In [11]:
#I'll need to look at how to fillin or sort missing values and determine which columns I want to keep

#dropping columns:
#finishedsquarefeet12              246
#finishedsquarefeet13            52319
#finishedsquarefeet15            52319
#finishedsquarefeet50            47948
#finishedsquarefeet6             52154
#calculatedbathnbr                 135
#id                                  0
#architecturalstyletypeid        52249