In [1]:
import wrangle

import pandas as pd
pd.options.display.max_rows = 100

import matplotlib.pyplot as plt
import seaborn as sns

>## Acquiring data through wrangle.py

In [2]:
df=wrangle.get_zillow_data()

In [3]:
#seeing what dataset looks like
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,781532,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,...,6.037461e+13,-0.001011,2017-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

>## Defining the dataset

In [4]:
#df.describe().T

In [5]:
#setting up missing values function, to catch only the ___% of data that
#is already there, and not missing
#checking nulls by columns of the percent of nulls found:

wrangle.nulls_by_columns(df).sort_values(by='percent', ascending=False)

                              count   percent
buildingclassdesc             52319  1.000000
buildingclasstypeid           52319  1.000000
finishedsquarefeet15          52319  1.000000
finishedsquarefeet13          52319  1.000000
storytypeid                   52272  0.999102
basementsqft                  52272  0.999102
storydesc                     52272  0.999102
yardbuildingsqft26            52256  0.998796
architecturalstyletypeid      52249  0.998662
architecturalstyledesc        52249  0.998662
typeconstructiondesc          52243  0.998547
typeconstructiontypeid        52243  0.998547
fireplaceflag                 52238  0.998452
finishedsquarefeet6           52154  0.996846
decktypeid                    51930  0.992565
pooltypeid10                  51876  0.991533
poolsizesum                   51454  0.983467
pooltypeid2                   51248  0.979529
hashottuborspa                50805  0.971062
yardbuildingsqft17            50384  0.963015
taxdelinquencyyear            50251  0.960473
taxdelinquencyflag            50251  0.960473
finishedsquarefeet50          47948  0.916455
finishedfloor1squarefeet      47948  0.916455
threequarterbathnbr           45602  0.871615
fireplacecnt                  45086  0.861752
pooltypeid7                   42329  0.809056
poolcnt                       41242  0.788280
airconditioningdesc           38704  0.739769
airconditioningtypeid         38704  0.739769
numberofstories               37787  0.722242
garagecarcnt                  34335  0.656263
garagetotalsqft               34335  0.656263
regionidneighborhood          33338  0.637206
buildingqualitytypeid         18665  0.356754
unitcnt                       18558  0.354709
propertyzoningdesc            18558  0.354709
heatingorsystemtypeid         18470  0.353027
heatingorsystemdesc           18470  0.353027
regionidcity                   1036  0.019802
lotsizesquarefeet               366  0.006996
finishedsquarefeet12            246  0.004702
fullbathcnt                     135  0.002580
calculatedbathnbr               135  0.002580
censustractandblock             121  0.002313
yearbuilt                       114  0.002179
structuretaxvaluedollarcnt       82  0.001567
calculatedfinishedsquarefeet     81  0.001548
regionidzip                      26  0.000497
taxamount                         4  0.000076
taxvaluedollarcnt                 1  0.000019
landtaxvaluedollarcnt             1  0.000019
logerror                          0  0.000000
transactiondate                   0  0.000000
propertylandusedesc               0  0.000000
id                                0  0.000000
assessmentyear                    0  0.000000
roomcnt                           0  0.000000
regionidcounty                    0  0.000000
rawcensustractandblock            0  0.000000
parcelid                          0  0.000000
propertycountylandusecode         0  0.000000
longitude                         0  0.000000
latitude                          0  0.000000
fips                              0  0.000000
bedroomcnt                        0  0.000000
bathroomcnt                       0  0.000000
propertylandusetypeid             0  0.000000

In [6]:
#now let's look at by rows:
wrangle.nulls_by_rows(df)

n_missing  percent_missing
23         0.338235               2
24         0.352941              12
25         0.367647              11
26         0.382353              30
27         0.397059             177
28         0.411765             390
29         0.426471            2527
30         0.441176            2199
31         0.455882            5989
32         0.470588            8885
33         0.485294           11967
34         0.500000           11157
35         0.514706            3469
36         0.529412            4138
37         0.544118            1020
38         0.558824             223
39         0.573529              29
40         0.588235              15
41         0.602941               6
42         0.617647               7
43         0.632353              10
44         0.647059              46
45         0.661765               6
46         0.676471               1
47         0.691176               1
48         0.705882               2
dtype: int64

In [7]:
#using 50/50 first to see what dataset looks like:
print('Before dropping nulls, %d rows, %d cols' % df.shape)

#dropping the cols & rows that do not meet the 50/50 standard
df = wrangle.handle_missing_values(df, prop_required_column=.5, prop_required_row=.5)
print('After dropping nulls, %d rows, %d cols' % df.shape)

Before dropping nulls, 52319 rows, 68 cols
After dropping nulls, 43346 rows, 34 cols

In [8]:
df.isnull().sum()

id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           10412
calculatedbathnbr                   9
calculatedfinishedsquarefeet        0
finishedsquarefeet12                8
fips                                0
fullbathcnt                         9
heatingorsystemtypeid            9785
latitude                            0
longitude                           0
lotsizesquarefeet                 262
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              10363
rawcensustractandblock              0
regionidcity                      546
regionidcounty                      0
regionidzip                         4
roomcnt                             0
unitcnt                         10327
yearbuilt                          19
structuretaxvaluedollarcnt         39
taxvaluedollarcnt                   0
assessmentyear                      0
landtaxvaluedollarcnt               0
taxamount                           2
censustractandblock                42
logerror                            0
transactiondate                     0
heatingorsystemdesc              9785
propertylandusedesc                 0
dtype: int64

#### For my next null steps:
    - I'll drop all the larger null columns.
    - I'll drop all columns that reiterate information too.
    - I'll average the smaller null columns with fillna

In [9]:
#creating a function to remove unwanted columns (*may add/change later)

cols_to_remove = ['propertyzoningdesc','buildingqualitytypeid','heatingorsystemtypeid','unitcnt','heatingorsystemdesc','calculatedbathnbr','id','finishedsquarefeet12','fullbathcnt','structuretaxvaluedollarcnt','landtaxvaluedollarcnt','taxamount','regionidcity']
def remove_columns(df, cols_to_remove): 
    df = df.drop(columns=cols_to_remove)
    return df

df= remove_columns(df, cols_to_remove )
df.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertylandusetypeid,...,regionidcounty,regionidzip,roomcnt,yearbuilt,taxvaluedollarcnt,assessmentyear,censustractandblock,logerror,transactiondate,propertylandusedesc
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,261.0,...,2061.0,97099.0,5.0,1967.0,464000.0,2016.0,6.111001e+13,0.055619,2017-01-01,Single Family Residential
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,261.0,...,1286.0,97078.0,6.0,1962.0,564778.0,2016.0,6.059022e+13,0.005383,2017-01-01,Single Family Residential
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,261.0,...,3101.0,96330.0,0.0,1970.0,145143.0,2016.0,6.037300e+13,-0.103410,2017-01-01,Single Family Residential
4,12095076,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,0101,261.0,...,3101.0,96293.0,0.0,1950.0,773303.0,2016.0,6.037461e+13,-0.001011,2017-01-01,Single Family Residential
6,12790562,3.0,4.0,3039.0,6037.0,33960230.0,-118006914.0,20028.0,0100,261.0,...,3101.0,96173.0,0.0,1970.0,220583.0,2016.0,6.037500e+13,-0.040966,2017-01-02,Single Family Residential

In [10]:
df.isnull().sum()

parcelid                          0
bathroomcnt                       0
bedroomcnt                        0
calculatedfinishedsquarefeet      0
fips                              0
latitude                          0
longitude                         0
lotsizesquarefeet               262
propertycountylandusecode         0
propertylandusetypeid             0
rawcensustractandblock            0
regionidcounty                    0
regionidzip                       4
roomcnt                           0
yearbuilt                        19
taxvaluedollarcnt                 0
assessmentyear                    0
censustractandblock              42
logerror                          0
transactiondate                   0
propertylandusedesc               0
dtype: int64

In [11]:
#fill in left over nulls with average/mean

In [12]:
#I'll need to look at how to fillin or sort missing values and determine which columns I want to keep

#dropping columns:
#finishedsquarefeet12              246
#finishedsquarefeet13            52319
#finishedsquarefeet15            52319
#finishedsquarefeet50            47948
#finishedsquarefeet6             52154
#calculatedbathnbr                 135
#id                                  0
#architecturalstyletypeid        52249